body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

header, footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.quiz-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
  text-align: center;
}

#question-container {
  margin-bottom: 20px;
}

#timer {
  margin-bottom: 10px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#result {
  text-align: center;
}
